
h1 {
	font-family: helvetica;
	color: black;
	margin-bottom: 0px;
}

/* nav section */
nav table td {
	font-family: helvetica;
	text-align: center;
	border-right: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;

}

nav ul {
	margin-top: 0px;
	padding-left: 0px;  /* 48px / 900px */
	margin-bottom: 4px;
}
nav ul li{
	font-family: helvetica;
	display: inline;
	list-style-type: none;
	padding-right: 3em;
}

div img .mike {
	float: left;
	margin-bottom: 0px;
	border-style: solid;
	border-width: 5em;
	border-color: black;
}

/* side menu section */

.sideMenu {
	width: 100px;
	background-color: #777777;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.sideMenu li {
	font-family: 
}

