#centered {
	width: 800px;
	text-align: left;
	border: 0px;
	padding: 0;
	margin: 0 auto;
}

body {
	margin-left: 3em;
	margin-right: 3em;
}

h1 {
	font-family: Arial, sans-serif;
	color: black;
	margin-bottom: 0px;
	text-align: center;
}

h2 #content{
	font-family: Arial, sans-serif;
	font-style: bold;
	font-size: medium;
}

footer {
	width: 100%;
	vertical-align: center;
	font-family: Arial, sans-serif;
	bottom: 0px;
	text-align: center;
	position: fixed;
	
}

a:link {
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

/* Main content */

#content {
    left: 225px;
    right: 75px;
    font-family: Arial, sans-serif;
    position: absolute;
}

/* nav section */

nav table {
	margin: auto;
	background-color: #E0E0E0; 
}

nav table td {
	font-family: Arial, sans-serif;
	text-align: center;
	border-right: 1px solid black;
	border-left: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;

}

nav ul {
	margin-top: 0px;
	padding-left: 0px;  /* 48px / 900px */
	margin-bottom: 4px;
}
nav ul li{
	font-family: Arial, sans-serif;
	display: inline;
	list-style-type: none;
	padding-right: 3em;
}


div .center {
	margin: auto;
}

/* side menu section */

.sideMenu {
	float: left;
	width: 150px;
	background-color: #E0E0E0;
	list-style-type: none;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.sideMenu li {
	font-family: 
}

